	
		body {
			font-family: Verdana, Tahoma, Arial, sans-serif;
			background: #fff3ff;
			color: #001a4d;
	    }
		header {
			display:block
		  	background: #fff3ff;
			color: #001a4d;
			border-style: solid;
    		border-width: 0.1em;
    		margin-bottom: 0.8em;
			width: 97%
		}
		h1 {
  			font-size: 1.3em;
  			text-align: center;
  			margin-top: 0.1em;
  			margin-bottom: 0.1em
			}
		h2 {
			font-size: 2.0em;
			text-align: center;
			margin-top: 0.0em;
  			margin-bottom: 0.5em
		}
		h3 {
			font-size: 1.3em;
			text-align: center;
			color: #DC143C;
			margin-top: 0.1em;
  			margin-bottom: 0em
		}
		h4 {
			font-size: 1.3em;
			text-align: center;
			margin-top: 0.0em;
  			margin-bottom: 0.1em
		}
		h5 {
			font-size: 1.3em;
			text-align: center;
			margin-top: 1.2em;
  			margin-bottom: 0em
		}
		h6 {
			font-size: 1.0em;
			text-align: left;
			margin-left: 1.5em;
			margin-top: 0.4em;
  			margin-bottom: 0em
		}				
		img {
			border: 1px solid #000;
  			padding: 0.1em;
  			width: 37.0em
		}
		p {
  			display: block;
  			margin-top: 1em;
  			margin-bottom: 1em;
  			margin-left: 6.5em;
  			margin-right: 0;
		}
		#lrge {
			font-size: 1.5em
		}
		#nrmal {
			font-size: 1.3em
		}
		#smll {
			font-size: o.5em
		}
		#vrysmll {
			text-align: left;		
			font-size: 0.8em;
			margin-top: 1.0em;
			margin-left: 30.0em;
			margin-right: 1.0em;
  			margin-bottom: 1.1em
		}
		.center {
  			display: block;
  			margin-left: auto;
  			margin-right: auto;
  			margin-botton: 0em
				}			
		figcaption {
			font-style:italic;
			font-size: 0.75em;
			text-align: center;
			width: auto;
            padding-top: 0em;
            padding-right: auto;
            # padding-left: auto;
		}
		section {
			float: left;
			padding: 0;
			position: relative;
			right: 0;
			width: 70%
		}
            table {
            	font-size: 1.0em;
                border: 0.1emx solid black;
                border-collapse: collapse;
                margin-top: 1.0em;
                margin-bottom: 1.0em;
                width: 85%;
            }

            th, td {
                border: 1px solid black;
                padding: 0.1em;
                text-align: center;
            }

            th {
                background-color: lightgray;
            }		  
		nav {
			display: block;
			border-style: solid;
    		border-width: 0.1em;
    		background-color: #f1f1f1;
			float: left;
			margin-top: 1.5em;
			margin-right: 1em; 
			width: 23%;
		  }
		a {
			font-size: 1.0em;
			text-decoration: none;
			margin-left: 0.0em;
			margin-top: 0.1em;
			margin-bottom: 0.1em
		}
		ul {
		  	list-style-type: none;
		  	margin-left: 0em;
			margin-top: 0.5em;
			margin-bottom: 0em
			padding: 0;
		}
		footer {
  			position: fixed;
  			left: 0;
  			bottom: 0;
  			width: 98%;
  		}