$fontColor: #29293d;
$bckgrndColor: #fff3ff;
$smllScrnBackgrnd: #e6e6ff;
$cs50Color: #DC143C;
$navBckgrd: #ffffff;
$apprvdColor: #e6ffe6;
$strtdColor: #99ff99;
$stalldColor:  #ffb366;

		body {
			font-family: Verdana, Tahoma, Arial, sans-serif;
			color: $fontColor;
	    }
		@media only screen and (min-width: 500px) {
			body {
				/* Variable $bckgrndColor in .scss */
				background-color: $bckgrndColor; 
			}
		}
		@media only screen and (max-width: 499px) {
			body {
				/* Variable $smllScrnBackgrnd in .scss */
				background-color:  $smllScrnBackgrnd; 
			}
		}
			    
		header {
			color: $fontColor;
			border-style: solid;
    		border-width: 0.1em;
    		margin-bottom: 0.8em;
			width: 99%;
			
			/* h3 nested in scss*/
			h3 {
			color: $cs50Color;
			margin-top: 0.2em;
			}
		}
		
		nav {
			display: block;
			border-style: solid;
    		border-width: 0.1em;
    		/* Variable $navBckgrd in .scss */
    		background-color: $navBckgrd; 
			float: left;
			margin-top: 1.6em;
 			padding: 0.0em;
			width: 20%;
		  }
		a {
			font-size: 1.0em;
			text-decoration: none;
			margin-left: 0.0em;
			margin-top: 0.0em;
			margin-bottom: 0.0em;
		}
		
		a:link {
  			color: #002db3;
		}
		a:visited {
 			color: #8600b3;
		}
		a:hover {
			color: #009933;
		}
			
		ul {
		  	list-style-type: none;
		  	margin-left: 0em;
			margin-top: 0.1em;
			margin-bottom: 0em;
			padding: 0.5em;
		}
		
		h1 {
  			font-size: 1.3em;
  			margin-top: 0.1em;
  			margin-bottom: 0.1em
			}
		h2 {
			font-size: 2.0em;
			text-align: center;
			margin-top: 0.0em;
  			margin-bottom: 0.5em
		}
		h3 {
			font-size: 1.3em;
			color: $cs50Color;
			margin-top: 0.1em;
		}
		h4 {
			font-size: 1.0em;
			text-align: left;
			margin-top: 3.0em;
			margin-left: 0.5em;
  			margin-bottom: 0.1em
		}
		h5 {
			font-size: 1.3em;
			margin-top: 0.1em;
  			margin-bottom: 0em;
  			padding-top: 0.5em;
			padding-left: 0.5em;
		}

		img {
			border: 1px solid #000;
  			padding: 0.1em;
  			width: 37.0em
		}
		p {
  			display: block;
  			margin-top: 1em;
  			margin-bottom: 1em;
  			margin-left: 0.0em;
  			margin-right: 0;
		}
		#lrge {
			font-size: 1.8em
		}
		#nrmal {
			font-size: 1.3em
		}
		#smll {
			font-size: 0.8em
		}
		#vrysmll {
			text-align: left;		
			font-size: 0.6em;
			margin-top: 1.0em;
			margin-left: 35.0em;
			margin-right: 1.0em;
  			margin-bottom: 1.1em
		}
		
		.alignLeft {
  			display: block;
  			text-align: left;
  			margin-left: 0em;
  			margin-right: 0em;
  			margin-botton: 0em;
				}
			
		.row > div {
			padding: 10px;
			background-color: $apprvdColor;
			border: 2px solid black;
            }
            			
		figcaption {
			font-size: 0.75em;
			text-align: center;
			width: auto;
            padding-top: 0em;
            padding-right: auto;
            # padding-left: auto;
		}
		section {
			float: left;
			position: relative;
			left: 0;
			width: 70%
		}
		table {
			font-size: 1.0em;
			border: 0.1emx solid black;
			border-collapse: collapse;
			margin: auto;
			width: 85%;
		}

            th, td {
                border: 1px solid black;
                padding: 0.1em;
                text-align: center;
            }
            th {
                background-color: lightgray;
            }
		
		%message {
		    font-size: 0.7em;
		    border: 0.02em solid black;
    		padding: 0.5em;
    		margin-top: 0.5em;
    		margin-right: 65.0em;
		}
		
		#approved {
    		@extend %message;
    		background-color: $apprvdColor;
		}

		#started {
    		@extend %message;
    		background-color: $strtdColor;
		}

		#stalled {
    		@extend %message;
    		background-color: $stalldColor;
		}
		
		footer {
  			position: fixed;
  			left: 4em;
  			bottom: 0;
  			width: 98%;
  		}